/* part 1, background color for inside & outside container*/
*{
    margin: 0px;
}

body{
    margin: 5px;
    background-color: rgb(255, 205, 129);
}

.Container{
    display: flex;
    margin-top: 10px;
}

/* part 2, branch style, branch size & display*/
.Branch_1{
    height: 830px;
    width: 400px;
    flex-wrap: wrap;
    display: flex;
    margin-left: 20px;
}

.Branch_2{
    height: 830px;
    width: 400px;
    flex-wrap: wrap;
    display: flex;
    margin-left: 20px;
}

.Branch_3{
    height: 830px;
    width: 400px;
    flex-wrap: wrap;
    display: flex;
    margin-left: 20px;
}

/* part 3, object styling*/

.Object_1:nth-child(even), .Object_2:nth-child(even), .Object_3:nth-child(even){
display:grid;
grid-template-columns: 230px 100px;
grid-template-rows: 50px 50px;
background-color: rgb(153, 153, 153);
width: 300px;
padding-top: 4px;
padding-left: 4px;
}

.Object_1:nth-child(odd), .Object_2:nth-child(odd), .Object_3:nth-child(odd){
display:grid;
grid-template-columns: 230px 100px;
grid-template-rows: 50px 50px;
background-color: rgb(153, 153, 153);
width: 300px;
padding-top: 4px;
padding-left: 4px;
}

.Name_Forward{
    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
    font-size: 20px;
    border-radius: 4px;
    background-color: white;
}

/* part 4, Match data sizes*/
select{
    width:40px;
    height:40px;
    font-size:20px;
    border-radius: 4px;
}

select.Name{
    width: 210px;
    height:40px;
    font-size: 20px;
    border-radius: 4px;
}

.Match{
    height:200px;
}

.Object_2{
    margin-top: 18%;
}

.Match_02{
    height: 415px;
}

.Object_3{
    margin-top: 50%;
}

.Match_03{
    height: 830px;
}